body{
	background:url(../images/pattern.jpg) repeat;
	background-attachment:fixed;
	margin:0;
	padding:0
}

header,.logo{
	height:120px
}

header{
	width:100%;
	top:0;
	background-color:rgba(169,169,169,0.8)
}

.logo{
	display:inline-block;
	width:150px;
	min-width:150px
}

.logo img{
	width:100%;
	height:100px;
	margin-top:10px
}

.clear{
	clear:both
}

.navbar{
	border-radius:0
}

.slide-image{
	width:100%
}

.carousel-holder{
	width:100%;
	top:0;
	display:inline-block
}

.carousel .item{
	width:100%;
	height:300px
}

.carousel .item img{
	width:100%;
	height:100%
}

.carousel-control, .item{
	border-radius:4px
}

.caption{
	height:130px;
	overflow:inherit
}

.caption h4{
	white-space:nowrap
}

.caption{
	word-wrap:break-word
}

.thumbnail img{
	width:100%
}

.ratings{
	padding-right:10px;
	padding-left:10px;
	color:#d17581
}

.thumbnail{
	padding:0
}

.product-image{
	background-color:rgba(230,230,230,0.8)
}

.thumbnail .caption-full{
	padding:9px;
	color:#333
}

.header{
	font-family:"Lucida Console",Monaco,monospace;
	border:3px solid rgba(253,133,133,0.8);
	background-color:rgba(255,255,255,0.4);
	border-radius:6px
}

.header{
	width:100%;
	height:50px;
	margin:0;
	font-size:24px;
	color:#333;
	padding:7px 15px
}
.list-group-item.active, .list-group-item.active:focus,
.list-group-item.active:hover, a.list-group-item:focus,
a.list-group-item:hover, a.list-group-item{
	word-wrap:break-word
}

.menu-category{
	display:inline-block;
	margin-bottom:.25rem;
	padding:1rem;
	width:100%
}

.product-image{
	width:100%
}

.product{
	padding-top:22px
}

.btn-product{
	background-color:#222;
	color:#eee;
	border-radius:0
}

.yellow{
	color:#ff0;
	text-shadow:#ccc 1px 1px 0
}

.portfolio-item{
	margin-bottom:25px
}

.thumbnail img{
	width:100%
}

.ratings{
	padding-right:10px;
	padding-left:10px;
	color:#d17581
}

.thumbnail{
	padding:0
}

.thumbnail .caption-full{
	padding:9px;
	color:#333
}

.navbar-default{
	background-color:rgba(120,120,120,0.8)
}

.col-md-12{
	padding-left:0px;
	padding-right:0px;
	position:relative;
	min-height:1px
}

@media(max-width:768px){
	.carousel-holder, .carousel .item{
		max-height:240px
	}
}
footer{
	background-color:rgba(130,130,130,0.8);
	font-family:"Trebuchet MS",Helvetica,sans-serif;
	position:absolute;
	padding:10px 0px;
	width:100%
}

.footer-text{
	margin-bottom:10px
}

.product-cover{
	border:2px solid #ccc;
	display:inline-block
}
.title{
width:100%;
height:35px;
border:2px solid green;
margin: 5px 0px;
background-color:#eee;
padding: 6px 30px;
font-weight:bold;
}
.title:hover {
	background-color:#fff;
}
.desc{
	position:absolute;
	width:100%;
	height:auto !important;
	margin-top:20px;
	opacity:0;
	-webkit-transition: 1s;
	-moz-transition:1s;
	transition:1s;
	padding: 16px 20px;
}
.desc:target{
	width:100%;
	background-color:#eee;
	margin-top:10px;
	opacity:1;
	-webkit-box-shadow: 1px 2px 4px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    1px 2px 4px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         1px 2px 4px 0px rgba(50, 50, 50, 0.75);
	-moz-border-radius-topright: 25px;
-webkit-border-top-right-radius: 25px;
border-top-right-radius: 25px;
-moz-border-radius-bottomright: 5px;
-webkit-border-bottom-right-radius: 5px;
border-bottom-right-radius: 5px;
-moz-border-radius-bottomleft: 25px;
-webkit-border-bottom-left-radius: 25px;
border-bottom-left-radius: 25px;
}
